.action-5-info h3 small {
    font-size: 20px
}

.lh-11 {
    line-height: 1
}

.services-row {
    margin-bottom: 2em
}

.fs-20 {
    font-size: 22px
}

.mg-0 {
    margin-top: 0;
    margin-bottom: 0
}

.centered {
    text-align: center
}

.underline {
    text-decoration: underline
}

.big-text {
    font-size: 1.3em
}

#contact-details a:hover {
    color: #fff
}

.site-wrapper {
    background-color: #fafafa;
}

p.lead {
    font-size: 24px;
    font-weight: 400;
    color: #fff
}

#como p.lead,
#contact-form p.lead,
#fun-facts p.lead,
#que p.lead {
    color: #4a4848
}

#como {
    margin-bottom: 80px
}

.services-container p,
p.about-description {
    font-size: 17px;
    line-height: 1.4
}

.services-container ul li {
    list-style: circle
}

.description {
    padding: 7px
}

.description p {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.35;
    padding-top: .4em
}

.service-list {
    font-size: 1.2em
}

.section-title {
    margin-top: 16px
}

.item-portafolio {
    min-height: 570px;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 40px;
    padding-top: 30px;
    margin-top: 30px
}

.item-portafolio h3 {
    font-size: 2.3em;
    font-weight: 400
}

.item-portafolio p {
    font-size: 1.21em;
    font-weight: 400;
}

.item-portafolio ul li {
    list-style: none
}

.portfolio-description {
    margin-bottom: 2.5em
}

#portafolio .lead {
    color: #121212
}

#bx-pager img,
#bx-pager-2 img,
#bx-pager-3 img,
#bx-pager-4 img,
#bx-pager-5 img,
#bx-pager-6 img,
#bx-pager-7 img {
    width: 30%;
    border-radius: 1px
}

.bx-viewport {
    height: auto
}

.bx-viewport>ul>li img {
    margin-left: -3.7em;
    width: 100%
}

@media only screen and (max-width:1199px) {
    .bx-viewport>ul>li img {
        margin-left: 0
    }
}